body{
    background-color: orange;
    overflow-x: hidden;
    width: 100%;
}

.inner-setting-control{
    margin:0% 4% 2% 4%;
    height:60%;
    
}

.post{
    box-shadow: 0px 0px 6px 0px;
    height:90%;
    max-height:11em;
    width:100%;
    background-color: white;
    border-radius:15px;
}

.ellipsis-dir{
     "float: right;"
}

.box-setting{
    margin-top: 16%; 
    width:30%;
}

.div-align{
    text-align: center;
}

.post-author{
    font-family: none;
    font-size: 1.4vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; 
    border-radius: 15px 0px 0px 15px;
    margin-right: 2%;
}

.headmargin{
    margin-top: 4%;
}

.horizontalellipse{
    float: right;
}

.contents{
    height: 80%;
    max-height:3em;
    font-size: 1.0vw;
    overflow: hidden;
    text-overflow: clip;
    margin-right: 5%;
}

.margintitle{
    margin-top: 2%;
}

.post-content{
    border-radius: 0px 15px 15px 0px;
    background-color:#a9a9a92e;
}

.content-heading{
    font-family:cursive;
    font-weight: bolder;
    font-size: 1.3vw;
}

.close-colour{
    color:black;
    opacity:1;
}

.ellipsis-size{
    font-size: 28px;
    margin:0px;
}

.trash-size{
    font-size:2vw;
}

.col-setting{
    padding-right: 2px;
}

.contentfooter{
    float: right;
}

.modal-body-margin{
    margin: 1%;
}

.delete-text{
    font-family: none; 
    font-weight: bold;
    font-size: 105%;
}

.modal-dialog-box{
    padding:2% 0% 1% 0%;
    border-style: solid;
    border-radius: 0px;
}

#delete-modal-button-yes{
    width:40%;
    border-radius: 0px;
    margin-right:9%;
}

#delete-modal-button-no{
    width:40%;
    border-radius: 0px;
    margin-left:9%;
}
