.header{
    margin:0px;
}

.header1{
    text-align: left;
}

.header2{
    text-align: right;
}

#button{
    //float:right;
    width: 20%;
    margin-right: 0px;
    text-align: end;
}

#titleBlock{
   // float:left;
    width:15%;
    height:10%;
}

#logo{
    color:#0418a9;
    margin-top: 0px; 
    margin-bottom: 0px;;
    font-size: 300%;
    filter: contrast(0.8);
    font-family:'Satisfy',cursive;
}

#helpingText{
    margin-top: 0px;
    font-family:'Satisfy',cursive;
    font-size:100%;
}

#helpingText-postslist{
    margin-top: 0px;
    font-family:'Satisfy',cursive;
    font-size:100%;
    color:white;
}

.content-box{
    padding:1% 1% 4% 1%;
    width:85%;
    border-style: solid;
    border-radius: 0px;
}

.content-header{
    border-bottom: 1px solid black;
}

.body-content{
    padding-top: 0%;
}

.form-input-block{
    margin-top: 5%;
    padding:0px;
    width:100%;
    border-radius: 0px;
}

.input-control{
    width:100%;
    border-radius: 0px;
    border: 0px;
    height:100%;
    padding: 3% 4% 3% 4%;
    background-color:#a9a9a92e;
}

.label-control{
    font-family: none;
    font-weight: bold;
    margin-bottom: 1%;
}

.signup-switch{
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 0%;
}

.a{
    color: blue;
}

.button-control{
    font-family: none;
    font-size: medium;
    color: white;
    width:100%;
    border-radius: 0px;
    border: 0px;
    height:100%;
    padding: 3% 4% 3% 4%;
    background-color:#0080009c;
}

.signbuttons{
    margin-top: 1.5%;
    margin-left: 1%;
    font-size:90%;
    border-radius: 0px;
    padding: 1.2% 3.5% 1.2% 3.5%;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
    background-color: blue;
    color:white;
}

.signbuttons:hover{
    margin-top: 1.5%;
    margin-left: 1%;
    font-size:90%;
    border-radius: 0px;
    padding: 1.2% 3.5% 1.2% 3.5%;
    border-right: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
    background-color: darkblue;
    color:white;
}
.signbuttonsPostslist{
    margin-top: 1.5%;
    margin-left: 1%;
    font-size:90%;
    border-radius: 0px;
    padding: 1.2% 3.5% 1.2% 3.5%;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    background-color: blue;
    color:white;
}

.signbuttonsPostslist:hover{
    margin-top: 1.5%;
    margin-left: 1%;
    font-size:90%;
    padding: 1.2% 3.5% 1.2% 3.5%;
    padding: 1.2% 3.5% 1.2% 3.5%;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    background-color: darkblue;
    color:white;
}


.signbuttonsPostPage{
    margin-top: 1.5%;
    margin-left: 1%;
    font-size:90%;
    border-radius: 0px;
    padding: 1.2% 3.5% 1.2% 3.5%;
    border: 2px solid lightgray;
    background-color: blue;
    color:white;
}

.signbuttonsPostPage:hover{
    margin-top: 1.5%;
    margin-left: 1%;
    font-size:90%;
    padding: 1.2% 3.5% 1.2% 3.5%;
    border: 2px solid darkgray;
    background-color: darkblue;
    color:white;
}

@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
