body, html{
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    height: 100%;
    width: device-width ;
    background-origin: content-box;
    overflow: hidden;
    background-color: #cccccc;
}

#postblock{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.postButtons{
    min-height: 2.5em;
    font-family: none;
    font-size: 105%;
    font-weight: bold;
    border-radius: 0px;
    color:black;
    margin-right: 1%;
    background-color:#cca300;
    border-color:antiquewhite;
}

.postButtons:hover{
    background-color:yellow;
}

.dialog-control{
    height: 100%;
    width:100%;
    margin-left: 16vw;
    margin-right: 16vw;
}

.content-block{
    overflow: scroll;
    overflow-y: scroll;
    height:95vh;
    width:68vw;
    min-width: 100%;
    border-style: solid;
    border-radius: 0px;
}

.block-header{
    border-bottom: 0px;
}

#postTitle{
    width:50%;
    border-radius: 0px;
    border: 0px;
    background-color:#a9a9a92e;
}

#postContent{
    width:100%;
    height: 100%;
    resize: none;
    border-radius: 0px;
    border: 0px;
    background-color:#a9a9a92e;
}

.body-block{
    height: 100%;
    width:100%;
    padding:0% 1% 4% 1%;
    border-style: solid;
    border:0px;
    border-radius: 0px;
    padding-left: 2%;
    padding-right: 2%;
}

#area-box{
    width:100%;
    padding:0% 1% 4% 1%;
    border-style: solid;
    border:0px;
    border-radius: 0px;
}

#createButton{
    font-family: none;
    font-size: medium;
    color: white;
    width:10%;
    border-radius: 0px;
    border: 0px;
    height:20%;
    background-color:#0080009c;
}

